.hero
	.home_title
		%h1 Welcome to Ottter.
		%h3 Contextual, Relevant, & Simple SMS Traffic Alerts for Ottawa

	.home_div
		= link_to "Sign Up", "/users/new", :class => "button"
	.home_div
		= link_to "Login", "/login", :class => "button"
