/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body{
	margin:0px;
}

#logo_bar{
	height: 40px;
	width: 100%;
	/*border-bottom: 1px solid black;*/
	margin: 0px;
	line-height: 40px;
	box-shadow: 0 6px 10px -6px #2E2E2E;
	font-family: Helvetica;
	font-size: 3em;
	color: #696969;
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
}

#t1 {
	color: #FF007C;
}

#t2 {
	color: #00FFFF;
}

#t3 {
	color: #00FF00;
}
/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, ../../app/assets/stylesheets/scaffolds.css.scss */
p, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, ../../app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, ../../app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, ../../app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, ../../app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, ../../app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}
/* line 5, ../../app/assets/stylesheets/users.css.scss */
body {
  text-align: center;
}

/* line 10, ../../app/assets/stylesheets/users.css.scss */
li {
  list-style-type: disc;
  width: 400px;
  margin: 20px auto 0px auto;
}

/* line 15, ../../app/assets/stylesheets/users.css.scss */
.field_with_errors {
  border-left: 4px solid red;
  border-right: 4px solid red;
  background-color: #FFFFFF;
}

/* line 21, ../../app/assets/stylesheets/users.css.scss */
select {
  border: none;
  font-size: 30px;
  height: auto;
  width: auto;
  background-color: none;
  outline: none;
}

/* line 29, ../../app/assets/stylesheets/users.css.scss */
select:hover {
  background-color: #FF007C;
  color: #FFFFFF;
}

/* line 34, ../../app/assets/stylesheets/users.css.scss */
.step {
  width: 400px;
  margin: 20px auto 0px auto;
  font-size: 2em;
  color: #696969;
}

/* line 41, ../../app/assets/stylesheets/users.css.scss */
.kill_link {
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 25px;
  height: auto;
  width: auto;
  display: inline;
}

/* line 50, ../../app/assets/stylesheets/users.css.scss */
.kill_link:hover {
  border: 2px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
}

/* line 56, ../../app/assets/stylesheets/users.css.scss */
p {
  font-size: 1.25em;
}

/* line 59, ../../app/assets/stylesheets/users.css.scss */
.text {
  line-height: normal;
  margin: 10px;
}

/* line 64, ../../app/assets/stylesheets/users.css.scss */
.button {
  border: 2px solid #FF007C;
  background-color: #FF007C;
  color: #FFFFFF;
  font-size: 1.25em;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 74, ../../app/assets/stylesheets/users.css.scss */
.button:hover {
  background-color: #FFFFFF;
  color: #FF007C;
}

/* line 79, ../../app/assets/stylesheets/users.css.scss */
.inactive {
  border: 2px solid #696969;
  background-color: #696969;
  color: #FFFFFF;
  font-size: 1.25em;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 89, ../../app/assets/stylesheets/users.css.scss */
.inactive:hover {
  background-color: #FFFFFF;
  color: #696969;
}

/* line 94, ../../app/assets/stylesheets/users.css.scss */
.yes {
  border: 2px solid #00FF00;
  background-color: #00FF00;
}

/* line 98, ../../app/assets/stylesheets/users.css.scss */
.yes:hover {
  background-color: #FFFFFF;
  color: #00FF00;
}

/* line 103, ../../app/assets/stylesheets/users.css.scss */
input {
  margin: 10px;
  border: none;
  height: 30px;
  border-bottom: 1px solid #696969;
  font-size: 25px;
  text-align: center;
}

/* line 111, ../../app/assets/stylesheets/users.css.scss */
input:focus {
  border-bottom: 1.5px solid #FF007C;
  outline: none;
}

/* line 115, ../../app/assets/stylesheets/users.css.scss */
#new_link {
  font-size: 30px;
  padding: 3px;
  border: 2px solid #00FF00;
  background-color: #00FF00;
}

/* line 121, ../../app/assets/stylesheets/users.css.scss */
#new_link:hover {
  padding: 3px;
  border: 2px solid #00FF00;
  background-color: #FFFFFF;
  color: #00FF00;
}

/* line 127, ../../app/assets/stylesheets/users.css.scss */
#send {
  font-size: 30px;
}

/* line 130, ../../app/assets/stylesheets/users.css.scss */
#street_text_fields {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 134, ../../app/assets/stylesheets/users.css.scss */
#step2, #step3, #sched, #sens, #end, #sched_act {
  display: none;
}
