/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body{
	margin:0px;
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
}

#top_login{
	line-height: 0px;
	height: 20px;
	width: 10%;
	float: right;
	border: 2px solid #FF007C;
	background-color: #FF007C;
	color: #FFFFFF;
	font-size: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#top_login:hover{
	background-color: #FFFFFF;
	color: #FF007C;
}

#logo_bar{
	height: 40px;
	width: 100%;
	/*border-bottom: 1px solid black;*/
	margin: 0px;
	line-height: 40px;
	box-shadow: 0 6px 10px -6px #2E2E2E;
	font-family: Helvetica;
	font-size: 3em;
	color: #696969;
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
}

#t1 {
	color: #FF007C;
}

#t2 {
	color: #00FFFF;
}

#t3 {
	color: #00FF00;
}
/* line 5, ../../app/assets/stylesheets/sessions.css.scss */
.hero {
  margin-top: 40px;
}

/* line 9, ../../app/assets/stylesheets/sessions.css.scss */
.home_div {
  margin: 30px;
  font-size: 1.5em;
  padding: 5px;
}

/* line 15, ../../app/assets/stylesheets/sessions.css.scss */
a {
  text-decoration: none;
  color: #FFFFFF;
}

/* line 20, ../../app/assets/stylesheets/sessions.css.scss */
a :visited {
  color: #FFFFFF;
}

/* line 24, ../../app/assets/stylesheets/sessions.css.scss */
.login_link a {
  color: #FF007C;
}

/* line 28, ../../app/assets/stylesheets/sessions.css.scss */
.login_link a:hover {
  background-color: #FF007C;
  color: #FFFFFF;
}

/* line 33, ../../app/assets/stylesheets/sessions.css.scss */
.login {
  font-size: 2em;
}
/* line 5, ../../app/assets/stylesheets/users.css.scss */
body {
  text-align: center;
}

/* line 10, ../../app/assets/stylesheets/users.css.scss */
.login_link a {
  color: #FF007C;
}

/* line 14, ../../app/assets/stylesheets/users.css.scss */
.login_link a:hover {
  background-color: #FF007C;
  color: #FFFFFF;
}

/* line 19, ../../app/assets/stylesheets/users.css.scss */
.deets {
  font-size: 12px;
  font-style: italic;
}

/* line 24, ../../app/assets/stylesheets/users.css.scss */
li {
  list-style-type: disc;
  width: 400px;
  margin: 20px auto 0px auto;
}

/* line 29, ../../app/assets/stylesheets/users.css.scss */
.field_with_errors {
  border-left: 4px solid red;
  border-right: 4px solid red;
  background-color: #FFFFFF;
}

/* line 35, ../../app/assets/stylesheets/users.css.scss */
.notice {
  margin: 15px auto;
  background-color: yellow;
  width: 400px;
}

/* line 41, ../../app/assets/stylesheets/users.css.scss */
select {
  border: none;
  font-size: 30px;
  height: auto;
  width: auto;
  background-color: none;
  outline: none;
}

/* line 49, ../../app/assets/stylesheets/users.css.scss */
select:hover {
  background-color: #FF007C;
  color: #FFFFFF;
}

/* line 54, ../../app/assets/stylesheets/users.css.scss */
.step {
  width: 400px;
  margin: 30px auto 0px auto;
  font-size: 2em;
  color: #696969;
}

/* line 61, ../../app/assets/stylesheets/users.css.scss */
.kill_link {
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 25px;
  height: auto;
  width: auto;
  display: inline;
}

/* line 70, ../../app/assets/stylesheets/users.css.scss */
.kill_link:hover {
  border: 2px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
}

/* line 76, ../../app/assets/stylesheets/users.css.scss */
.text {
  line-height: normal;
  margin: 10px;
}

/* line 81, ../../app/assets/stylesheets/users.css.scss */
.button {
  border: 2px solid #FF007C;
  background-color: #FF007C;
  color: #FFFFFF;
  font-size: 30px;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 91, ../../app/assets/stylesheets/users.css.scss */
.button:hover {
  background-color: #FFFFFF;
  color: #FF007C;
}

/* line 96, ../../app/assets/stylesheets/users.css.scss */
.inactive {
  border: 2px solid #696969;
  background-color: #696969;
  color: #FFFFFF;
  font-size: 30px;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 106, ../../app/assets/stylesheets/users.css.scss */
.inactive:hover {
  background-color: #FFFFFF;
  color: #696969;
}

/* line 111, ../../app/assets/stylesheets/users.css.scss */
.yes {
  border: 2px solid #00FF00;
  background-color: #00FF00;
}

/* line 115, ../../app/assets/stylesheets/users.css.scss */
.yes:hover {
  background-color: #FFFFFF;
  color: #00FF00;
}

/* line 120, ../../app/assets/stylesheets/users.css.scss */
input {
  margin: 10px;
  border: none;
  height: 30px;
  border-bottom: 1px solid #696969;
  font-size: 25px;
  text-align: center;
}

/* line 128, ../../app/assets/stylesheets/users.css.scss */
input:focus {
  border-bottom: 1.5px solid #FF007C;
  outline: none;
}

/* line 133, ../../app/assets/stylesheets/users.css.scss */
#login_link {
  margin-top: 15px;
}

/* line 137, ../../app/assets/stylesheets/users.css.scss */
#add_street_button {
  margin: 15px;
}

/* line 141, ../../app/assets/stylesheets/users.css.scss */
#new_link {
  font-size: 30px;
  padding: 3px;
  border: 2px solid #00FF00;
  background-color: #00FF00;
}

/* line 148, ../../app/assets/stylesheets/users.css.scss */
#new_link:hover {
  padding: 3px;
  border: 2px solid #00FF00;
  background-color: #FFFFFF;
  color: #00FF00;
}

/* line 155, ../../app/assets/stylesheets/users.css.scss */
#send {
  font-size: 30px;
}

/* line 159, ../../app/assets/stylesheets/users.css.scss */
#street_text_fields {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 164, ../../app/assets/stylesheets/users.css.scss */
#step2, #step3, #sched, #sens, #end, #sched_act, #sens_chk_dv, #sched_chk_dv {
  display: none;
}
