/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	margin:0px;
}

#logo_bar{
	height: 40px;
	width: 100%;
	/*border-bottom: 1px solid black;*/
	margin: 0px;
	line-height: 40px;
	box-shadow: 0 6px 10px -6px #2E2E2E;
	font-family: Helvetica;
	font-size: 3em;
	color: #696969;
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
}

#t1 {
	color: #FF007C;
}

#t2 {
	color: #00FFFF;
}

#t3 {
	color: #00FF00;
}