// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero {
	margin-top: 40px;
}

.home_div{
	margin: 30px;
	font-size: 1.5em;
	padding: 5px;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}

a :visited{
	color: #FFFFFF;
}

.login_link a{
	color: #FF007C;
}

.login_link a:hover{
	background-color: #FF007C;
	color: #FFFFFF;
}

.login{
	font-size: 2em;
}
