// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	text-align: center;

}

li{
	list-style-type: disc;
	width: 400px;
	margin:20px auto 0px auto;
}
.field_with_errors{
	border-left:4px solid red;
	border-right:4px solid red;
	background-color: #FFFFFF;
}

.notice{
	margin: 15px auto;
	background-color: yellow;
	width: 400px;
}

select{
	border: none;
	font-size: 30px;
	height:auto;
	width:auto;
	background-color: none;
	outline: none;
}
select:hover{
	background-color: #FF007C;
	color: #FFFFFF;
}

.step{
	width: 400px;
	margin:20px auto 0px auto;
	font-size: 2em;
	color: #696969;
}

.kill_link{
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 25px;
	height: auto;
	width:auto;
	display:inline;
}
.kill_link:hover{
	border: 2px solid #000000;
	background-color: #000000;
	color: #FFFFFF;
}

p{
	font-size: 1.25em;
}
.text{
	line-height: normal;
	margin: 10px;
}

.button{
	border: 2px solid #FF007C;
	background-color: #FF007C;
	color: #FFFFFF;
	font-size: 30px;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.button:hover{
	background-color: #FFFFFF;
	color: #FF007C;
}

.inactive{
	border: 2px solid #696969;
	background-color: #696969;
	color: #FFFFFF;
	font-size: 30px;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.inactive:hover{
	background-color: #FFFFFF;
	color: #696969;
}

.yes{
	border: 2px solid #00FF00;
	background-color: #00FF00;
}
.yes:hover	{
	background-color: #FFFFFF;
	color:#00FF00;
}

input{
	margin: 10px;
	border:none;
	height: 30px;
	border-bottom: 1px solid #696969;
	font-size: 25px;
	text-align: center;
}
input:focus{
	border-bottom: 1.5px solid #FF007C;
	outline: none;
}

#add_street_button{
	margin: 15px;
}

#new_link{
	font-size: 30px;
	padding:3px;
	border: 2px solid #00FF00;
	background-color: #00FF00;
}

#new_link:hover{
	padding:3px;
	border: 2px solid #00FF00;
	background-color: #FFFFFF;
	color:#00FF00;
}

#send{
	font-size: 30px;
}

#street_text_fields{
	margin-top: 20px;
	margin-bottom: 20px;
}

#step2, #step3, #sched, #sens, #end, #sched_act, #sens_chk_dv, #sched_chk_dv{
	display: none;
}